body {

    background-image: url("./circles-light/circles-light.png")

}

#boo {

    background-color: #F5FFFA;

}

#foo {

    position: relative;
    top: 15px;
    
}

.questionbox {

    width: 100%;

}

#submit {

    width: 100%;

}

.links {

    float: left;
    position: relative;
    left: 12%;

}

